.navbar .nav-link
{
    font-size: 14px;
    text-transform:uppercase;
    padding-left:1rem !important;
    padding-right:1rem !important;
}

.navbar .nav-item.active
{
    border-left: rgb(181, 140, 140) 3px solid;

}
.img-fluid
{
    height: 100px;
     width: 200px;
}
.carousel-item
{
    height:450px;
}

.carousel-image-1
{
    background:url('../img/pngtree-black-meat-western-food-banner-background-image_194600.jpg');
    background-size:cover;
}

.carousel-image-2
{
    background:url('../img/messy-pizza-on-a-black-table.jpg');
    background-size:cover;
}

.carousel-image-3
{
    background:url('../img/photo-1556745750-68295fefafc5.jfif');
    background-size:cover;
}

#main-footer
{
    background:rgb(76, 72, 72);
    color:#fff;

}

.img-fluid1
{
    height:300px;
    width:400px;
}

#form
{
    margin: 0 auto; 
    width:250px;
}

